:root {
    --primary-color-225: hsl(225, 100%, 94%);
    --primary-color-245: hsl(245, 75%, 52%);

    --neutral-color-225: hsl(225, 100%, 98%);
    --neutral-color-224: hsl(224, 23%, 55%);
    --neutral-color-223: hsl(223, 47%, 23%);

    --font-size: 16px;
    --font-family: 'Red Hat Display', Arial, Helvetica, sans-serif;
    --fw-500: 500;
    --fw-700: 700;
    --fw-900: 900;

    --mobile-width: 375px;
    --desktop-width: 1440px;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 3em 3em;
    width: 100%;
    font-family: var(--font-family);
    font-size: var(--font-size);
    background-image: url(../images/pattern-background-mobile.svg);
    background-repeat: no-repeat;
    /* background-size: cover; */
    background-color: var(--primary-color-225);
    min-width: var(--mobile-width);
}

.card > * {
    display: block;
}

.card {
    background-color: #fff;
    border-radius: 1em;
    text-align: center;
    width: min(100%, 16.875em);
}

.card-illustration,
.card-illustration img {
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}

.card-illustration img {
    width: 100%;
    margin-bottom: -5px;
}

.card-info {
    padding: .5em 2em 2em;
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
}

.card-info h3,
.plan-desc span:nth-child(1) {
    color: var(--neutral-color-223);
}

.card-info h3 {
    font-weight: var(--fw-900);
    margin-bottom: .8em;
}

.annual-plan {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1em;
    border-radius: 1em;
    background-color: var(--neutral-color-225);
}

.card-desc, 
.annual-plan, 
button {
    margin-bottom: 1.7em;
}

.card-desc,
.plan-desc,
.link {
    color: var(--neutral-color-224);
    font-size: .8rem;
    line-height: 1.8;
}

.plan-desc,
.link {
    font-size: .7rem;
}

.annual-plan img {
    width: 20%;
}

.link {
    color: var(--primary-color-245);
    cursor: pointer;
}

.plan-desc {
   display: flex;
   flex-direction: column; 
}

.plan-desc span:nth-child(1) {
    font-weight: var(--fw-700);
}

button {
    display: block;
    width: 100%;
    height: 3.5em;
    border-radius: 1em;
    border: none;
    background-color: var(--primary-color-245);
    color: var(--neutral-color-225);
    font-weight: var(--fw-900);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    cursor: pointer;
}

.cancel {
    font-size: .9em;
    text-decoration: none;
    font-weight: var(--fw-900);
    color: var(--neutral-color-224);
    cursor: pointer;
}

@media (min-width: 23.5em) {
    body {
        background-image: url(../images/pattern-background-desktop.svg);
        background-size: unset;
    }
}